
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.robotor {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.navbar1{
    /* width: 1240px; */
    height: 60px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    
}
.navbar1 .nav-itam{
    color: #f31de4;
}
.navbar1 h1{
    color: #FFFFFF;
    width: 200px;
    height: 30px;
}
.navbar1 ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    color: #FFFFFF;
    width: 218px;
    height: 19px;
}
.navbar1 button{
    width: 130px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.navbar1 button :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
body{
    max-width: 1100px;
    margin:0 auto;
    padding: 20px;
}
/* Page container */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Background image wrapper */
.hero-1 {
    max-width: 1100px;
    width: 100%;
    height: 760px;

    background-image: url("assets/hero-bg.png"); /* your wave bg */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-1 .hero-2{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;

}
.hero-1 .hero-2 .hero-3{
    position: relative;
    width: 400px;
}

.hero-1 .hero-2 .hero-3 .bg-img{
    width: 100%;
    display: block;
}
.hero-1 .hero-2 .hero-3 .overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}
.hero-1 .hero-2 .hero-3 .hero-4{

    position: absolute;
    top: 2px;
    right: 2px;
    background: #1cff6d;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 12px;

    box-shadow: 0 0 10px rgba(0, 255, 120, 0.6);
}
.hero-1 .hero-2 h2{
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}
.hero-1 .hero-2 p{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
}
.hero-1 .hero-2 .button-1{
    width: 130px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hero-1 .hero-2 .button-2{
    width: 130px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    
    border: 3px solid #1cff6d;
    border-radius: 50px;
    color: #1cff6d;
    background: #1A0B2E;
}
.hero-1 .hero-2 .button-c{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}
.about {
    min-height: 600px;
    max-width: 1100px;
    padding: 50px 0 120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    background: rgba(26, 11, 46, 1);
}

.about .about-1{
    width: 1100px;
    height: 225px;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    text-align: center; 
    
}
.about .about-1 h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}
.about .about-2{
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about .about-2 div{
    width: 240px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.about .about-2 div h2{
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    color: rgba(89, 255, 0, 0.66);
}
.features {
  width: 1100px;
  background-color: #1b0834;
  color: white;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  color: #ffffff;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(3, 200px);
  gap: 30px;
}

.feature-card {
  background: #2b1459;
  border-radius: 24px;
  padding: 40px;
}

/* 1st: col 1, row 1–2 */
.premium {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

/* 2nd: col 2–3, row 1 */
.mobile {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

/* 3rd: col 2–3, row 2 */
.global {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

/* 4th: col 1–2, row 3 */
.interview {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

/* 5th: col 3, row 3 */
.resources {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}